In [1]:
rows = int(input("Enter the number of rows: "))  
# rows value assign to n variable  
n = rows  
# Download reversed loop  
for i in range(rows, 0, -1):  
    for j in range(0, i):  
        # this will print the same number  
        print(n, end=' ')  
    print()

Enter the number of rows: 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [9]:
rows = 5

for i in range(rows, 0, -1):

    for j in range(0, i + 1):

        print(j, end='')

    print("\r")

012345
01234
0123
012
01

In [12]:
rows = 5

i = 1

while i <= rows:

    j = 1

    while j <= i:

        print((i * 2-1), end="")

        j = j + 1

    i = i + 1

    print()

1
33
555
7777
99999

In [13]:
rows = 6

for row in range(1, rows):

    for column in range(row, 0, -1):

        print(column, end='')

    print("")

1
21
321
4321
54321

In [14]:
start = 1

stop = 2

currentNumber = stop

for row in range(2, 6):

    for col in range(start, stop):

        currentNumber -= 1

        print(currentNumber, end='')

    print("")

    start = stop

    stop += row
    currentNumber = stop

1
32
654
10987

In [29]:
def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [18]:
rows = int(input("Enter the number of rows: "))  
for i in range(1, rows + 1):  
    for j in range(1, rows + 1):  
        # Check condition if value of j is smaller or equal than  
        # the j then print i otherwise print j  
        if j <= i:  
            print(i, end=' ')  
        else:  
            print(j, end=' ')  
    print()

Enter the number of rows: 5
1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [20]:
rows = int(input("Enter the number of rows: "))  
for i in range(1, rows):  
    for j in range(1, i + 1):  
        # It prints multiplication or row and column  
        print(i * j, end='  ')  
    print()

Enter the number of rows: 9
1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

In [25]:
    rows = int(input("Enter the number of rows: "))  
      
    # It is used to print space  
    k = 2 * rows - 2  
    # Outer loop in reverse order  
    for i in range(rows, -1, -1):  
        # Inner loop will print the number of space.  
        for j in range(k, 0, -1):  
            print(end=" ")  
        k = k + 1  
        # This inner loop will print the number o stars  
        for j in range(0, i + 1):  
            print("*", end=" ")  
        print("")

Enter the number of rows: 5
        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [27]:
    n = int(input("Enter the number of rows: "))  
    m = (2 * n) - 2  
    for i in range(0, n):  
        for j in range(0, m):  
            print(end=" ")  
        m = m - 1  # decrementing m after each loop  
        for j in range(0, i + 1):  
            # printing full Triangle pyramid using stars  
            print("* ", end=' ')  
        print(" ")

Enter the number of rows: 7
            *
           *  *
          *  *  *
         *  *  *  *
        *  *  *  *  *
       *  *  *  *  *  *
      *  *  *  *  *  *  *

In [33]:
rows = 6
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

print(" ")

for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [35]:
rows = 5
i = 1
while i <= rows:
    j = i
    while j < rows:
        # display space
        print(' ', end=' ')
        j += 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows
while i >= 1:
    j = i
    while j <= rows:
        print(' ', end=' ')
        j += 1
    k = 1
    while k < i:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

        *
      * *
    * * *
  * * * *
* * * * *
  * * * *
    * * *
      * *
        *

In [36]:
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [37]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*